body
{
text-align: center;
display: block;
margin: 0%;
background-image: url("cool.jpg");
background-repeat: no-repeat;
background-size: cover;
opacity: ;
/*i will add a background image here */
}
h1{
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 50px;
  margin-top: 0%;
  background-color:paleturquoise; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
} ;
  position: relative;
}
h2{
    text-align: center;
}

#dream{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small; 
    color: #142d4c;  
}

}
.profile-pic{
    width: 25%;
    display: block;
    margin: auto;
}
hr {
    border-top: 5px dotted #233142;
    margin: 4rem auto;
    /* margin-bottom: 54rem; */
    width: 7%;
  }
  .footer{
    text-align: center;
    padding: 2px;
    padding-bottom: .2rem;
    color:violet;
    background-color: #152744;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}
    
  ul{
      list-style:none ;
      display:block inline ;
      margin: 20px auto;
  }

    #code{
        font-family: 'Courier New', Courier, monospace;
        color:violet;
    }
    .paragraph{
        margin: 38px auto;
    display:block inline;
    border: #9896f1;
    font-size: 20px;
    opacity: 1;
    background-color: violet;
    padding: 5px 10px;
    border-radius: 10px;
     margin-left: 500px;
    margin-right: 500px;
    transition: all 250ms ease;
    }
